<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head></head>
<body>
  <h1>bfresh email templates</h1>
  <ul>
    <li><a href="one-promo.html">One Promo</a></li>
    <li><a href="two-promos-coupon.html">Two Promos / Coupon</a></li>
    <li><a href="two-promos.html">Two Promos / No Coupon</a></li>
  </ul>
</body>
</html>
