/* Basics Zeroed and Max Width Responsive Settings */
body {
    Margin: 0;
    padding: 0;
    min-width: 100%;
    background-color: #ffffff;
}
table {
    border-spacing: 0;
    font-family: Arial, sans-serif;
    color: #333333;
}
td {
    padding: 0;
}
img {
    border: 0;
}

.brand-color {
  background-color: #702442;
  color: #fff;
}

.brand-color-inner {
  padding: 30px;
  color: #fff;
}

.heading {
  padding-top: 14px;
  padding-bottom: 10px;
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.webkit {
    max-width: 660px;
}

.outer {
    /*centers our table in Yahoo and Chrome*/
    /*CSS trick, capitalize the Margin to keep Outlook from stripping it out*/
    Margin: 0 auto;
    /*100% would be typical, to give a buffer on mobile and avoid fiddling with padding or media queries we use 95%*/
    width: 91%;
    max-width: 660px;
}
/*Use this class whenever you need a full width image*/
.full-width-image img {
    width: 100%;
    /*always set a max-width to preserve your layout on desktop clients and wider mobile devices*/
    /*be sure to specify the pixel width inline on the image so Outlook will display it properly even tho it is being overridden*/
    max-width: 600px;
    height: auto;
}

.inner {
    padding: 10px;
}

.contents {
    width: 100%;
}

/*Custom Elements*/
p {
    Margin: 0;
}

a {
    color: #0079C0;
}
/*Instead of using the h1 tag we are going to make a class to define our h1, h2, h3 etc*/
/*We will not use REM or EM but define pixel values for fonts*/
.h1 {
    font-size: 40px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: .03em;
    Margin-bottom: 18px;
}

.h2 {
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: .03em;
    Margin-bottom: 12px;
}

.h2-alt {
    font-size: 28px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: .03em;
    Margin-bottom: 12px;
}

.h2-alt span {
  color: #702442;
}

.h2-alt sup {
  font-size: 80%;
}

.h2 strong {
  color: #702442;
  font-size: 26px;
}

p.content {
  font-size: 16px;
  line-height: 25px;
  letter-spacing: .03em;
  Margin-bottom: 20px;
}

/* One Column Layout*/
.one-column .contents {
    text-align: left;
}

/*Two Column Layout. This layout will center when stacked*/

.two-column {
    text-align: center;
    /*This removes any gaps in our two columns*/
    font-size: 0;
}

.two-column .column {
    width: 100%;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
}

.two-column .contents {
    text-align: left;
}

.two-column img {
    display: inline-block;
}

.two-column .text {
    padding-top: 10px;
}

.social {
  padding-top: 10px
}

.social a {
  display: inline-block;
  text-decoration: none;
  Margin-left: 4px;
}

.coupon {
  Margin-top: 20px;
  Margin-bottom: 20px;
}

.mobile img {
  Margin-left: 4px;
}

.mobile .h2 {
  Margin-left: 4px;
}

.footer {
  border-top: 2px solid #622943;
  padding-top: 24px;
  padding-bottom: 24px;
}

.footer p {
  font-size: 11px;
  Margin-bottom: 7px;
}

.footer a {
  color: #666666;
  text-decoration: underline;
  Margin: 0 7px;
}

p.copyright {
  Margin-top: 20px;
  font-size: 8px;
}
